<div>
  <div>
    <h1>
      Your todo list
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new todo
    </h2>

    <form action="/insert_task" method="post">
      <div>
        <label for="description_box">
          Describe the task
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>

        <input hidden type="text" id="user_id_box" name="query_user_id" value=<%= session[:user_id] %>>
      </div>

      <div>
        <input hidden type="checkbox" id="in_progress_box" name="query_in_progress" value="1">

        
      </div>

      <div>
        <input hidden type="checkbox" id="done_box" name="query_done" value="1">

        
      </div>

      <button>
        Add to Next Up
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    

      
    
    <div class="next_up">
      <h2>Next Up</h2>
    <% @list_of_tasks.where(:in_progress=>false,:done=>false).each do |a_task| %>
     
          <%= a_task.description %>
       
          <a href="/tasks/<%= a_task.id %>">
            Show details
          </a>
      <br>
      <% end %>
    </div>
    <div class="in_progress">
      <h2>In Progress</h2>
      <% @list_of_tasks.where(:in_progress =>true).each do |a_task| %>
     
          <%= a_task.description %>
       
          <a href="/tasks/<%= a_task.id %>">
            Show details
          </a>
      <br>
      <% end %>
    </div>

    <div class="done">
      <h2>Done</h2>
      <% @list_of_tasks.where(:done => true).each do |a_task| %>
     
          <%= a_task.description %>
       
          <a href="/tasks/<%= a_task.id %>">
            Show details
          </a>
      <br>
      <% end %>
    </div>
  </div>
</div>

<hr>
